*
!.gitignore
!go.mod
!go.sum
!main.go
!internal/
!internal/**
!web/
!web/**
!.github/
!.github/**
!Makefile
!wrangler.toml
!package.json
!tsconfig.json
!RELEASE.md
!install.sh
!install.ps1
!assets
!assets/**
!VERSION